@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #FFFFFF;
  --button: #00A576;
  --input: #454545;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Mono';
}

input {
  color: var(--background);
  background-color: var(--input);
  @apply rounded py-0.5 px-2;
}

button {
  background: var(--button);
  @apply py-2 px-6 rounded-lg;
}

.buttonGray {
  background: #3E3E3E;
}