@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F0F;
  --foreground: #FFFFFF;
  --button: #00A576;
  --input: #454545;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Mono';
}

input {
  color: var(--background);
  background-color: var(--input);
  @apply rounded py-0.5 px-2;
}

button {
  background: var(--button);
  @apply py-2 px-6 rounded-lg;
}

.buttonGray {
  background: #3E3E3E;
}

.error {
  @apply text-red-600;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.loading {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #FFF;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFD;
}